@font-face {
    font-family: 'PokemonHollow';
    src: url('./fonts/pokemon_solid-webfont.woff2') format('woff2'),
        url('./fonts/pokemon_solid-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PokemonSolid';
    src: url('./fonts/pokemon_hollow-webfont.woff2') format('woff2'),
        url('./fonts/pokemon_hollow-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #eeeeaa;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}
